<!-- {{nationalparkInput.name}} -->
<div class="parky d-flex justify-content-center">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{nationalparkInput.name}}</mat-card-title>
      <!-- <mat-card-title>{{trails.name}}</mat-card-title> -->

    </mat-card-header>
    <div class="row" >
      <div class="col-md-8">
        <mat-card-content class="container">
          <!-- <h4>{{nationalparkInput.established}}</h4> -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Trai</th>
                <th scope="col">Distance</th>
                <th scope="col">Elevation Gain</th>
                <th scope="col">Difficulty</th>

              </tr>
            </thead>
            <tbody *ngFor="let trail of trails">
              <tr >

                <td scope="row">{{trail.name}}</td>
                <td>{{trail.distance/1000}} miles</td>
                <td> {{trail.types}}</td>
                <td>{{trail.name}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </div>
      <div class="col-md-4  ">
        <img class="container rounded" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu">
      </div>
    </div>
  </mat-card>
</div>