<h2 mat-dialog-title>Create a National Park</h2>
<form matCardContent>
  <div class="form-group">
    <label for="formGroupExampleInput">Example label</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Another label</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label><br> 
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Another label</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>
  <mat-dialog-actions>
    <button class="btn btn-danger margn" mat-dialog-close>Cancel</button>
    <button type="submit" class="btn btn-primary" mat-dialog-close>Submit</button>
  </mat-dialog-actions>


</form>